<%- include('partials/header') %>

<h1 style="text-align: center; color: darkslateblue;">
    About us!
</h1>
<br><br>

<h3 style="text-align: center;">
    <%= rAbtCnt %>
</h3>


<%- include('partials/footer') %>