<%- include('partials/header') %>

<h1 style="text-align: center; color: darkslateblue;">Write Your bLog here</h1>
<br><br>
<form action="/compose" method="post">
    <h3 style="padding-left: 10px;">Title: </h3>
    <textarea name="title" class="form-control" cols="30" rows="3"></textarea>
    <h3 style="padding-left: 10px;">Post: </h3>
    <textarea name="post" class = "form-control" cols="30" rows="10"></textarea>
    <br>
    <button type="submit" style="margin-left: 10px;">post</button>
    <br>
</form>

<%- include('partials/footer') %>