<%- include('partials/header') %>

<h1 style="text-align: center;">Error, No such post exist.</h1>

<br><br>
<form action="/error" method="post" style="text-align: center;">
    <button type="submit">Back To Home</button>
</form>

<%- include('partials/footer') %>